@using System.Web.Optimization
@model RangoricMUD.Controllers.Models.IndexModel
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width"/>
        <title>@ViewBag.Title</title>
        <link type="text/css" rel="stylesheet" href="~/Assets/Styles.css"/>
        @Scripts.Render("~/Assets/Scripts/LibraryScripts")
        <script src="/signalR/hubs" type="text/javascript"> </script>
        @Scripts.Render("~/Assets/Scripts/OtherScripts")
    </head>
    <body>
        <div id="Interface">
            <div class="Panel">
                <div>Name of this panel</div>
                <div>
                    Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum 
                    has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a 
                    type specimen book. It has survived not only five 
                    centuries, but also the leap into electronic
                </div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div class="Panel">
                <div>Name of this panel</div>
                <div>Description Text.<br/>2<br/>3<br/>4<br/>5</div>
                <div>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>4</button>
                    <button>5</button>
                </div>
            </div>
            <div data-bind="template:{ name: 'BUtton', foreach:Buttons}"></div>            
            <div></div>
        </div>
        <div id="Scene"></div>
        @Html.Partial("../Shared/Components/Buttons")
        @Html.Partial("../Shared/Components/Panels")
        @Html.Partial("../Shared/Components/Forms")
    </body>
</html>


