@model RangoricMUD.Controllers.Models.IndexModel
@{
    ViewBag.Title = "Index";
}
<div class="Page">
    @Html.Partial("Homepage")
    @Html.Partial("../Accounts/Login", Model.LoginAccount)
    @Html.Partial("../Accounts/Create", Model.CreateAccount)
    @Html.Partial("../Accounts/Confirm", Model.ConfirmAccountPageModel)
    @Html.Partial("../Games/List", Model.GameListPageModel)
    @Html.Partial("../Games/Edit", Model.GameEditPageModel)
    @Html.Partial("../Play/Start")
    @Html.Partial("../Characters/Create", Model.CreateCharacterModel)
</div>

