@model RangoricMUD.Accounts.Models.ILoginAccount
<div class="LoginContainer" data-bind="visible: Name() === 'Login Page', if: Name() === 'Login Page'">
    <form action="/" method="POST" data-bind="submit: Submit">
        <fieldset>
            <legend>Login to your account</legend>

            @Html.LabelFor(t => t.Name)
            @Html.TextBoxFor(t => t.Name)
            @Html.ValidationMessageFor(t => t.Name)

            @Html.LabelFor(t => t.Password)
            @Html.PasswordFor(t => t.Password)
            @Html.ValidationMessageFor(t => t.Password)

            <div class="Buttons">
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>
</div>